<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" [min]="0" required>
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <div *ngIf="price.errors?.required">Price is required.</div>
          <div *ngIf="price.errors?.min">Price should be 0 or higher.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" type="select" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let category of categories$ | async" [value]="category.$key">
            {{ category.name}}
          </option>
          <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
            Category is required.
          </div>
        </select>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
          <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
            <div *ngIf="imageUrl.errors?.required">Image URL is required.</div>
            <div *ngIf="imageUrl.errors?.url">Please enter a valid url.</div>
          </div>
        </div>
        <button [disabled]="f.invalid" class="btn btn-primary">Save</button>
        <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false" ></product-card>
  </div>
</div>