<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shoppong cart.
    <button
    *ngIf="cart.items.length"
    (click)="clearCart()"
    class="btn btn-light btn-sm">
    Clear shopping cart
  </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td><div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div></td>
        <td>
          {{ item.title }}
        </td>
        <td>
            <app-product-quantity
              [product]="item"
              [shopping-cart]="cart">
            </app-product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{ cart.totalPrice | currency:'USD' }}
        </th>
      </tr>
    </tfoot>
  </table>
  <a
    routerLink="/check-out"
    *ngIf="cart.items.length"
    class="btn btn-primary">Check out</a>
</div>