/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding-top: 80px;
}

button[disabled] {
    cursor: default;
}